<section id="content">
  <article class="page">

    <header>
      <h1>{{ page.title }}{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
    </header>

    <section>
      {{ content }}
    </section>

  </article>
</section>

<section id="comments">
    <div id="container"></div>


<!--汉化
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
-->
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: 'WilliamGuozi',
  repo: 'githubpagecomment',
  oauth: {
    client_id: '87272c8d5bc6da27f030',
    client_secret: 'f2dd03098c753b637185567d93d914a401b6e723',
  },
})
gitment.render('container')
</script>
</section>